<div class="modal-content" ng-init="init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dimdiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">填写巡视任务内容</h4>
    </div>



    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">确定</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
    </div>
</div>
